.root {
    -fx-font-family: "SansSerif";
    primary-yellow: #FFBD00;
    secondary-blue: #00A6DF;
    dark-grey: #121212;
    medium-grey: #262626;
    light-grey: #808080;
}

/* Base background */
.background {
    -fx-background-color: dark-grey;
    background-color: dark-grey;
}

/* Base text styles */
.label {
    -fx-font-size: 11pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: medium-grey;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

/* the tags */
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: dark-grey;
    -fx-background-color: primary-yellow;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 11;
}

.label-small {
    -fx-font-size: 9pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: derive(light-grey, 50%);
    -fx-opacity: 0.8;
}

.text-field, .label-remark {
    -fx-font-size: 10pt;
    -fx-font-family: "SansSerif";
    -fx-background-color: medium-grey;
    -fx-padding: 5px 10px 5px 10px;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-text-fill: derive(light-grey, 50%);
    -fx-text-inner-color: derive(light-grey, 50%);
}

.text-field:focused {
    -fx-border-color: transparent transparent primary-yellow transparent;
    -fx-text-fill: white;
    -fx-text-inner-color: white;
}

.label-remark {
    -fx-font-size: 12pt;
    -fx-text-fill: primary-yellow;
}

.label-remark:focused {
    -fx-font-size: 12pt;
    -fx-text-fill: primary-yellow;
    -fx-border-color: transparent;
}

.label-field {
    -fx-text-fill: derive(light-grey, 50%);
    -fx-background-color: transparent;
    -fx-padding : 0;
}

.label-field:focused {
     -fx-border-color: transparent;
     -fx-text-fill: derive(light-grey, 50%);
}

/* Base icon color */
.tab-pane .tab .ikonli-font-icon {
    -fx-icon-color: white;
}

/* === TABS === */
.tab-pane {
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
    -fx-background-color: dark-grey;
}

.tab-pane .tab-header-background {
    -fx-background-color: dark-grey;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-padding: 10 15 10 15;
    -fx-alignment: CENTER_LEFT;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

/* === LEFT TABS (Main Window) === */
.tab-pane:left .tab-header-area {
    -fx-pref-width: 220;
    -fx-min-width: 220;
    -fx-max-width: 220;
    -fx-background-color: dark-grey;
}

.tab-pane:left .tab-header-background {
    -fx-background-color: dark-grey;
}

.tab-pane:left .tab .tab-label {
    -fx-font-size: 10pt;
    -fx-text-fill: primary-yellow;
}

.tab-pane:left .tab:selected {
    -fx-background-color: primary-yellow;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.tab-pane:left .tab .ikonli-font-icon {
    -fx-icon-color: primary-yellow;
}

.tab-pane:left .tab:selected .tab-label {
    -fx-text-fill: dark-grey;
}

.tab-pane:left .tab:selected .ikonli-font-icon {
    -fx-icon-color: dark-grey;
}

/* === TOP TABS (Directory Tab) === */
.tab-pane:top .tab {
    -fx-padding: 8 15 8 15;
}

.tab-pane:top .tab .tab-label {
    -fx-font-size: 10pt;
    -fx-text-fill: light-grey;
}

.tab-pane:top .tab .ikonli-font-icon {
    -fx-icon-color: light-grey;
}

.tab-pane:top .tab:selected {
    -fx-background-color: secondary-blue;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.tab-pane:top .tab:selected .tab-label {
    -fx-text-fill: white;
}

.tab-pane:top .tab:selected .ikonli-font-icon {
    -fx-icon-color: white;
}

/* Table properties */
.table-view {
    -fx-base: dark-grey;
    -fx-control-inner-background: dark-grey;
    -fx-background-color: dark-grey;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.grid-pane {
    -fx-background-color: dark-grey;
}

.grid-pane .stack-pane {
    -fx-background-color: dark-grey;
}

.split-pane {
    -fx-background-color: medium-grey;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: dark-grey;
    -fx-border-color: transparent transparent transparent derive(medium-grey, -20%);
    -fx-border-width: 0 0 0 1;
}

.split-pane:vertical .split-pane-divider {
    -fx-background-color: dark-grey;
    -fx-border-color: derive(medium-grey, -20%) transparent transparent transparent;
    -fx-border-width: 1 0 0 0;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: medium-grey;
}

.stack-pane {
    -fx-background-color: dark-grey;
}

/* The layout of important large sections in the UI */

.pane-with-border {
    -fx-background-color: dark-grey;
    -fx-border-color: derive(medium-grey, -20%);
    -fx-border-width: 1px 0px 0px 0px;
}

.pane-without-border {
    -fx-background-color: dark-grey;
    -fx-border-width: 0px 0px 0px 0px;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "SansSerif";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

/* The status bar at the bottom of the UI */

.status-bar {
    -fx-background-color: dark-grey;
    -fx-text-fill: white;
}

.status-bar .label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-padding: 6px 8px 6px 8px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: light-grey;
    -fx-border-color: derive(dark-grey, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

/* Menu */
.menu-bar {
    -fx-background-color: dark-grey;
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: white;
    -fx-padding: 5px 2px 5px 2px;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing {
    -fx-background-color: primary-yellow;
}

.menu-bar .menu:hover .label,
.menu-bar .menu:showing .label {
    -fx-text-fill: dark-grey;
}

.context-menu {
    -fx-background-color: medium-grey;
}

.context-menu .label {
    -fx-text-fill: white;
    -fx-font-size: 11pt;
}

.context-menu .menu-item .label {
    -fx-text-fill: white !important;
    -fx-padding: 0px 20px 0px 2px !important;
}

.context-menu .menu-item:focused {
    -fx-background-color: secondary-blue;
}

.context-menu .menu-item:focused .label {
    -fx-text-fill: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 0;
    -fx-background-color: dark-grey;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed,
.button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: dark-grey;
}

.button:focused {
    -fx-background-color: #454545;
    -fx-text-fill: white;
}

.button:disabled,
.button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: dark-grey;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: dark-grey;
}

.dialog-pane>*.button-bar>*.container {
    -fx-background-color: dark-grey;
}

.dialog-pane>*.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(dark-grey, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: medium-grey;
}

.scroll-bar .thumb {
    -fx-background-color: derive(dark-grey, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: medium-grey;
    -fx-border-color: transparent transparent primary-yellow transparent;
    -fx-border-width: 0 0 4 0;
    -fx-font-family: "SansSerif";
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-border-insets: 0;
    -fx-padding: 5px 10px 5px 20px;
}

#filterField,
#personListPanel,
#personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: medium-grey;
    -fx-background-radius: 0;
    -fx-padding: 5px 10px 5px 20px;
}

/* === FILTER PANE === */
.filter-pane>.title {
    -fx-background-color: primary-yellow;
    -fx-padding: 10 15 10 15;
}

.filter-pane>.title .text {
    -fx-fill: dark-grey;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}

.filter-pane>.title .arrow-button .arrow {
    -fx-background-color: dark-grey;
}

.filter-pane .filter-icon {
    -fx-icon-color: dark-grey;
}

.filter-pane > .content {
    -fx-border-color: derive(light-grey, -50%);
    -fx-border-width: 1;
}

/* === REUSABLE PANELS === */
.panel-container {
    -fx-padding: 30 30 30 30;
    -fx-spacing: 20;
    -fx-background-color: dark-grey;
}

.panel-heading {
    -fx-font-size: 18pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: primary-yellow;
    -fx-border-color: transparent transparent primary-yellow transparent;
    -fx-border-width: 0 0 2 0;
    -fx-padding: 0 0 8 0;
    -fx-font-weight: bold;
    -fx-background-color: transparent; /* Makes the background transparent */
}

.panel-heading:focused {
    -fx-text-fill: primary-yellow;
    -fx-highlight-fill: primary-yellow;
}

/* === BUTTONS === */
.btn-save {
    -fx-background-color: primary-yellow;
    -fx-text-fill: dark-grey;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-padding: 8 20 8 20;
}

.btn-save:hover {
    -fx-background-color: derive(primary-yellow, -10%);
}

.btn-save:focused {
    -fx-background-color: derive(primary-yellow, +5%);
    -fx-text-fill: dark-grey;
}

.btn-danger {
    -fx-background-color: #E53935;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-padding: 8 20 8 20;
}

.btn-danger:hover {
    -fx-background-color: derive(#E53935, -10%);
}

/* === CUSTOM TABLE === */
.custom-table {
    -fx-base: dark-grey;
    -fx-control-inner-background: dark-grey;
    -fx-background-color: dark-grey;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.custom-table .column-header-background {
    -fx-background-color: medium-grey;
}

.custom-table .column-header,
.custom-table .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: medium-grey;
    -fx-border-color: transparent transparent light-grey transparent;
    -fx-border-insets: 0 0 0 0;
}

.custom-table .column-header .label {
    -fx-font-size: 11pt;
    -fx-font-family: "SansSerif";
    -fx-text-fill: primary-yellow;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
}

.custom-table .table-row-cell {
    -fx-background-color: dark-grey;
    -fx-border-color: transparent transparent medium-grey transparent;
    -fx-border-width: 0 0 1 0;
}

.custom-table .table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.custom-table .table-row-cell:selected {
    -fx-background-color: medium-grey;
}

.custom-table .table-cell {
    -fx-text-fill: white;
    -fx-font-size: 11pt;
    -fx-alignment: center-left;
}

/* Name flow pane tags in filter panel */
#nameTags {
    -fx-hgap: 8;
    -fx-vgap: 5;
}

#filterPanelTags {
    -fx-background-color: secondary-blue;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

#filterPanelTags:hover {
    -fx-background-color: derive(secondary-blue, -10%);
}

#filterPanelTags .label {
    -fx-text-fill: white;
    -fx-font-size: 11;
}

#filterPanelTags .button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-text-fill: white;
    -fx-opacity: 0.8;
    -fx-font-size: 13;
}

#filterPanelTags .button:hover {
    -fx-opacity: 1;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#filterPanelTags .button:pressed {
    -fx-opacity: 0.6;
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}

/* List Section background color */
#listSectionPlaceholder {
    -fx-background-color: medium-grey;
}
