/* PersonListPanel */
.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:empty {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.list-cell:filled:even {
    -fx-background-color: derive(medium-grey, +20%);
}

.list-cell:filled:odd {
    -fx-background-color: derive(medium-grey, +9%);
}

.list-cell:filled:selected {
    -fx-background-color: derive(secondary-blue, -30%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: secondary-blue;
    -fx-border-width: 2;
}

.list-cell .label {
    -fx-text-fill: white;
}


/* PersonListCard  */
#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 10px 5px 10px 5px;
}

.cell_big_label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 16px !important;
    -fx-text-fill: white !important;
}

.cell_big_field,
.cell_big_field:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "SansSerif";
    -fx-font-size: 16px;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.cell_big_field .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.cell_small_label {
    -fx-font-family: "SansSerif";
    -fx-font-size: 12px !important;
    -fx-text-fill: white !important;
}

.cell_small_field,
.cell_small_field:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "SansSerif";
    -fx-font-size: 12px;
    -fx-padding: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.cell_small_field .content {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

/* the tags */
#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: dark-grey;
    -fx-background-color: primary-yellow;
    -fx-padding: 1 5 1 5;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-font-size: 11;
}
